.EmailBody {
  padding: 1rem;
}

.snippet {
  display: flex;
  font-size: 1.5rem;
  h5 {
    margin-left: 1rem;
  }
}

.senderDetails {
  display: flex;
  align-items: center;
  margin-top: 2rem;

  h5 {
    font-size: 14px;
    font-weight: 600;
  }

  p {
    font-size: 14px;
    margin-left: 0.5rem;
    color: var(--clr-grey-light);
  }
}

.mainBodyHTML {
  width: 70%;
  margin: 0 auto;
  margin-top: 3rem;
}
